{% extends 'base.html' %} {% load static %}{% block section %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact" style="background-color: #f5f5f5">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
      <p>
        If you have any questions or queries we will always be happy to help
        you. Feel free to contact us by form, telephone or email and we will be
        sure to get back to you as soon as possible.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>
              Anjuman-I-Islam Kalsekar Technical Campus, New Panvel, Navi Mumbai
            </p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>parley@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+91 77777 33333</p>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.4354193589143!2d73.10191121489999!3d19.000525587131264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e83a36fbf179%3A0xbbb0905051e8c56e!2sAnjuman-I-Islam&#39;s%20Kalsekar%20Technical%20Campus!5e0!3m2!1sen!2sin!4v1620458517299!5m2!1sen!2sin"
            frameborder="0"
            style="border: 0; width: 100%; height: 290px"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <form method="post" class="php-form was-validate">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{request.user.first_name}} {{request.user.last_name}}"
                    required
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    value="{{request.user.email}}"
                    required
                  />
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea
                  class="form-control"
                  name="message"
                  rows="10"
                  required
                ></textarea>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-3 p-2" type="submit">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
{% endblock %}
