{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Parley</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/logo.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top"
      style="background-color: rgba(40, 57, 86, 0.9)"
    >
      <div class="container d-flex align-items-center">
        <a href="index.html" class="logo me-3"
          ><img
            src="{% static 'assets/img/logo.png' %}"
            alt=""
            class="img-fluid"
        /></a>
        <h1 class="logo me-auto"><a href="index.html">Parley</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto" href="{% url 'index' %}">Home</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'service' %}"
                >Services</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'pre' %}">Preview</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'team' %}">Team</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="{% url 'contact' %}"
                >Contact</a
              >
            </li>
            <li>
              <a class="getstarted" href="{% url 'pre' %}">Get Started</a>
            </li>
            <!-- <li>
              <a class="getname" href="{% url 'pre' %}">Done</a>
            </li> -->
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <section class="inner-page m-5">
        <div class="container">
          <h1>Thanks for Contact Us.</h1>
          <a class="btn btn-success" href="{% url 'contact' %}">Go back</a>
        </div>
      </section>
    </main>
  </body>
</html>
