{% extends 'base.html' %} {% load static %} {% block hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Better Solutions For Gesture Recognition</h1>
        <h2>
          We are here to reduced the communication gap between special and
          normal peoples.
        </h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="{% url 'pre' %}" class="btn-get-started scrollto"
            >Get Started</a
          >
          <a
            href="https://www.youtube.com/watch?v=9MTiQMxTXPE"
            class="glightbox btn-watch-video"
            ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
          >
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="{% static 'assets/img/ban2.png' %}"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
{% endblock %} {% block content %}
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        We deliver high-performance services to tackle the ever-changing
        challenges of today’s communication between special and impaired
        peoples.We present a novel real-time method for hand gesture
        recognition. The system is built for the automated conversion of ISL
        into textual form.
      </p>
    </div>

    <!-- https://iconify.design/icon-sets/bx/ -->
    <div class="row">
      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Live Prediction</a></h4>
          <p>
            Enabling real-time sign language detection through video cameras.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Sign Language</a></h4>
          <p>
            Sign languages are languages that use the visual-manual modality to
            convey meaning.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Communication</a></h4>
          <p>
            Sign language is a visual way of communicating through hand
            gestures, body language and facial expressions to communicate.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Awareness</a></h4>
          <p>
            The UN General Assembly has proclaimed 23 Sept as the International
            Day of Sign Languages in order to raise awareness of the importance
            of sign language.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Pricing</h2>
      <p>Price is what you pay. Value is what you get</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Free Plan</h3>
          <h4><sup>$</sup>0<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Time limits 5 minutes per day.</li>
            <li><i class="bx bx-check"></i> Sign to text.</li>
            <li class="na">
              <i class="bx bx-x"></i>
              <span>Sign to speech.</span>
            </li>
            <li class="na">
              <i class="bx bx-x"></i>
              <span>Trial period only available from 2pm to 3pm.</span>
            </li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box featured">
          <h3>Pro Plan</h3>
          <h4><sup>$</sup>29<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Time limits 2 hours per day.</li>
            <li><i class="bx bx-check"></i> Sign to text.</li>
            <li><i class="bx bx-check"></i> Sign to speech.</li>
            <li class="na">
              <i class="bx bx-x"></i>
              <span>Trial period only available from 12pm to 6pm.</span>
            </li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="box">
          <h3>Premium Plan</h3>
          <h4><sup>$</sup>49<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> No time limits.</li>
            <li><i class="bx bx-check"></i> Sign to text.</li>
            <li><i class="bx bx-check"></i> Sign to speech.</li>
            <li><i class="bx bx-check"></i> No specific time duaration.</li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->
{% endblock %}
<!-- Content Block -->
