{% extends 'base.html' %} {% load static %}{% block section %}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        We deliver high-performance services to tackle the ever-changing
        challenges of today’s communication between special and impaired
        peoples.We present a novel real-time method for hand gesture
        recognition. The system is built for the automated conversion of ISL
        into textual form.
      </p>
    </div>

    <!-- https://iconify.design/icon-sets/bx/ -->
    <div class="row">
      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Live Prediction</a></h4>
          <p>
            Enabling real-time sign language detection through video cameras.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Sign Language</a></h4>
          <p>
            Sign languages are languages that use the visual-manual modality to
            convey meaning.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Communication</a></h4>
          <p>
            Sign language is a visual way of communicating through hand
            gestures, body language and facial expressions to communicate.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Awareness</a></h4>
          <p>
            The UN General Assembly has proclaimed 23 Sept as the International
            Day of Sign Languages in order to raise awareness of the importance
            of sign language.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

{% endblock %}
